:root {
    --branco: white;
    --azul: #1c75bc;
}

body {
    margin: 0;
    width: 100%;
    position: relative;
    background: linear-gradient(to right, #1c75bc -25%, #54beca 50%, #1c75bc 125%);
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    overflow-x: hidden;

}

#about p {
    width: 80%;
    text-align: justify;
    margin: 0;
}

#logo_myd {
    width: 100vw;
    height: auto;
    margin: 100px auto 0 auto;
    text-align: center;
}

#logo_myd__img {
    width: 55vw;
    height: auto;
}

.no_bottom_margin {
    margin-bottom: 0;
}

.tit_medio {
    font-family: ProFontWindows, sans-serif;
    font-size: 4vw;
    color: lightgray;
}

.small_top_margin {
    margin-top: 10px;
}

#oradores {
    width: 100%;
}

#palestrantes {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

#formadores {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

#debatentes {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.orador {
    position: relative;
    width: 100%;
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: space-between;
}

.orador:nth-of-type(1), .orador:nth-of-type(3), .orador:nth-of-type(5), .orador:nth-of-type(7), .orador:nth-of-type(9) {
    flex-direction: row-reverse;
}

.orador_info {
    width: 55%;
    display: flex;
    flex-direction: column;
}

.orador_info p {
    width: 100%;
    word-break: break-word;
    text-indent: 20px;
    font-size: 1.25vw;
}

.orador_subtitulo {
    width: 100%;
    font-family: ProFontWindows, sans-serif;
    font-size: 3.75vw;
    color: white;
    margin-top: 25px;
    margin-bottom: 10px;
}

.orador_nome_palestra_workshop {
    font-family: ProFontWindows, sans-serif;
    font-size: 2vw;
    color: lightgray;
    margin-top: 10px;
    margin-bottom: 10px;
}

.orador:nth-of-type(1) img, .orador:nth-of-type(3) img, .orador:nth-of-type(5) img, .orador:nth-of-type(7) img, .orador:nth-of-type(9) img {
    align-self: flex-start;
}

.orador:nth-of-type(2) img, .orador:nth-of-type(4) img, .orador:nth-of-type(6) img, .orador:nth-of-type(8) img {
    align-self: flex-end;
}

.orador > div:last-child {
    position: relative;
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    justify-content: flex-end;
    width: 40%;
    height: 40%;
}

.orador:nth-of-type(1) > div:last-child > div, .orador:nth-of-type(3) > div:last-child > div, .orador:nth-of-type(5) > div:last-child > div, .orador:nth-of-type(7) > div:last-child > div, .orador:nth-of-type(9) > div:last-child > div {
    position: absolute;
    left: -39%;
    display: flex;
    flex-direction: column;
    align-content: space-evenly;
    justify-content: space-evenly;
    width: 40%;
    height: 100%;
}

.orador:nth-of-type(2) > div:last-child > div, .orador:nth-of-type(4) > div:last-child > div, .orador:nth-of-type(6) > div:last-child > div, .orador:nth-of-type(8) > div:last-child > div {
    position: absolute;
    right: -39%;
    display: flex;
    flex-direction: column;
    align-content: space-evenly;
    justify-content: space-evenly;
    width: 40%;
    height: 100%;
}

.foto_orador {
    width: 100%;
    height: auto;
}

.orador:first-of-type svg, .orador:nth-of-type(3) svg, .orador:nth-of-type(5) svg, .orador:nth-of-type(7) svg, .orador:nth-of-type(9) svg {
    width: 100%;
    height: 10%;
}

.orador:nth-of-type(2) svg, .orador:nth-of-type(4) svg, .orador:nth-of-type(6) svg, .orador:nth-of-type(8) svg {
    width: 100%;
    height: 10%;
}

.orador svg rect {
    fill: white;
    width: 100%;
    height: 100%;
}

.nome_debate {
    font-family: ProFontWindows, sans-serif;
    font-size: 4vw;
    color: lightgray;
}

#planeamento img {
    width: 45%;
    height: auto;
    border: 3px solid white;
}

#planeamento img:last-of-type {
    margin-left: 5%;
}

#precos p {
    margin-bottom: 50px;
}

.preco {
    width: 45%;
    height: auto;
    border: 3px solid white;
}

#precos .preco:last-of-type {
    margin-left: 5%;
}

.empresas_participantes {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: white;
    padding: 4vw;
    box-sizing: border-box;
}

.empresas_participantes a {
    width: 20%;
    height: auto;
    margin-left: 50px;
}

#link_logo_fctuc {
    width: 75%;
    margin-top: 0;
}

.logo_empresa {
    width: 100%;
    height: auto;
}

.empresas_participantes a:first-of-type {
    margin-left: 0;
}

.empresas_participantes a:nth-of-type(2) {
    width: 30%;
    margin-left: 0;
}

.empresas_participantes a:nth-of-type(4) {
    margin-left: 60px;
}

.empresas_participantes a:nth-of-type(7) img {
    width: 120%;
}

.empresas_participantes a:nth-of-type(8) img {
    width: 70%;
}

.empresas_participantes a:nth-of-type(4), .empresas_participantes a:nth-of-type(5),
.empresas_participantes a:nth-of-type(6), .empresas_participantes a:nth-of-type(7),
.empresas_participantes a:nth-of-type(8), .empresas_participantes a:nth-of-type(9),
.empresas_participantes a:nth-of-type(10), .empresas_participantes a:nth-of-type(11),
.empresas_participantes a:nth-of-type(12), .empresas_participantes a:nth-of-type(13),
.empresas_participantes a:nth-of-type(14) {
    margin-top: 30px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;

}

.certifiado {
    width: 6vw;
    margin-left: -1vw;
    float: left;
}

.div_certificado > p {
    margin-top: 2vh;

}

.sublinhado {
    color: white;
}

/* Track */
::-webkit-scrollbar-track {
    background: #52beca;
    margin-right: 5px;
    width: 2px;

}

::-webkit-scrollbar-track-piece {
    background: #52beca;
    margin-right: 5px;
    width: 2px;

}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #4c84c4;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #4c509e;
}

.info {
    margin-left: 50%;
    transform: translateX(-50%);
    text-align: left;
    width: 80%;
    padding: 20px;
    margin-top: 10vh;
}

#info1 {
    margin-left: 50%;
    transform: translateX(-50%);
    text-align: left;
    width: 80%;
    padding: 20px;
    padding-bottom: 0;
    margin-top: 10vh;
}


.white_background {
    background: rgba(255, 255, 255, 0.1);

}

#FAL {
    padding-left: 16px;
    font-size: 50px;

}

#outrelogio {
    width: 100%;
    /* margin-top:1000px;*/
    font-size: 50px;


}

#outrelogio svg {
    width: 50%;
}

#texto {
    width: 50%;
    float: left;
}

.about {

    z-index: 1;


}

span {
    font-size: 20px;
}

.MYD {
    font-size: 113px;
}

.mini {
    font-size: 10px;
}

.cerebro {

    z-index: 0;
    top: 0;
    margin-bottom: -50%;
    overflow: hidden;
}

.tit_grande {
    font-size: 5vw;
}

.tit_grande2 {
    font-size: 2vw;
}

.tit_grande1 {
    font-size: 8vw;
}

#relogio {
    margin-top: 50%;
    transform: translateY(-50%);
    color: white;
}

.info p:not(#relogio) {
    color: white;


}


h1 {
    font-family: "ProFontWindows";
    color: white;
}

.icon {
    display: none;
}

@font-face {
    font-family: "ProFontWindows";

}

html {
    width: 100%;
    height: 100%;

    scroll-behavior: smooth;

}

h1 {
    font-family: "ProFontWindows";
    text-justify: distribute-center-last;

}

scroll-container {
    overflow-y: scroll;
    scroll-behavior: smooth;
}

scroll-page {
    scroll-behavior: smooth;
    height: 100%;
}

/*navegação*/
nav {

    font-family: "ProFontWindows";

    background: linear-gradient(to bottom, rgba(31, 145, 197, 255), rgba(85, 191, 203, 0));
    webkit-transition: background-color .2s ease;
    -moz-transition: background-color .2s ease;
    -ms-transition: background-color .2s ease;
    -o-transition: background-color .2s ease;
    transition: background-color .2s ease;
    left: 0;

    border-bottom: white 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
    right: 0;
    color: #1c75bc;
}

#logo {
    z-index: 10;
}

#navbar {
    top: 0;
    transition: top 1s;
}

nav ul li img {
    display: inline-block;
    margin-bottom: 0;
    margin-top: 50%;
    transform: translateY(-60%);
    width: 2vw;
    height: auto;
}

nav ul {
    list-style: none;
    text-align: right;
}

nav ul li:first-child {
    float: left;
    padding-top: 15px;
    margin: 0 10px;
}

nav ul li {
    display: inline-block;
    font-size: 15px;

}

nav ul li:not(#logo) a {

    display: block;
    padding: 15px;
    text-decoration: none;
    color: var(--branco);


    text-transform: uppercase;
    margin: 0 10px;
    webkit-transition: color .2s ease;
    -moz-transition: color .2s ease;
    -ms-transition: color .2s ease;
    -o-transition: color .2s ease;
    transition: color .2s ease;
}

#\ inscricoes {
    margin-left: 50%;
    transform: translateX(-50%);
    text-align: center;
    margin-bottom: 8%;
}

#\ inscricoes h1:first-of-type {
    font-size: 10vw;
}

#\ inscricoes h1 a {
    padding: 15px;
    text-decoration: none;
    color: var(--branco);
}

#\ inscricoes h1 a:hover {
    color: #5bd2ff;
}


nav ul li a:hover {
    color: #5bd2ff;
}

/*main*/
main {
    position: relative;
    width: 100%;
    margin-top: 0;
}

main ul li {
    list-style: none;
}

#principal {
    background: linear-gradient(to right, #54beca, #1c75bc);;
    /*height: 100%;*/
}

#principal svg {
    margin-left: 15%;
    margin-right: 20%;
    /*margin-top:15%;*/
    margin-top: -9%;
    margin-bottom: -15%;
    pointer-events: none;
    /*z-index:1;*/
}

.dsc p {
    font-family: ProFontWindows;
    color: rgba(255, 255, 255, 1);
    margin-left: 32%;
    margin-top: 0;
}

/*footer*/
.footer {
    display: inline-block;
    position: relative;
    width: 100%;
    margin-bottom: 0;


}

.footer p {
    color: white;
    font-family: ProFontWindows;
}

.item3, .item4 {

    display: inline-block;
    width: 45%;
}

.item3 {
    float: right;
    text-align: left;
}

.item4 {
    float: left;
    text-align: right;
}

.fundo {

    z-index: 0;
}

.edicoes {

    width: 100%;
}

.edicoes img {
    margin-top: 5%;
    opacity: 100%;
    margin-bottom: 5%;
    width: 120%;
    height: auto;
}

.edicoes div {
    background: none;
    display: inline-block;

    width: 35%;
    margin-left: 2.5%;
    margin-right: 10%;
    text-align: center;
}

.segundalinha {
    margin-top: 2.5%;
}

.edicoes1 div {
    background: none;
    display: inline;
    float: left;
    width: 45%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    text-align: center;


}

.meio {
    float: none;
    display: block;
    clear: both;
    width: 100%;

}

.edicoes1 div h1 {
    position: relative;
    transform: translateY(-50%);
    color: #4c509e;
}

/*fazer c js*/
.edicoes1 > div:first-child:hover {
    background: transparent;
}

.edicoes1 > div:nth-child(2):hover {
    background: transparent;
}

.edicoes1 > div:first-child:hover .edicoes1 > div:first-child > h1 {
    color: transparent;
}

.edicoes1 > div:nth-child(2):hover {
    color: transparent;
}

.gallery {
    display: inline-block;
    width: 100%;

}

.gallery1 {
    display: inline-block;
    width: 100%;
    margin-top: 2vh;

}

.quarto {
    width: calc((100% / 4) - 5px);
    display: inline-block;
}

.fundoBranco {
    background: rgba(255, 255, 255, 0.51);
    box-shadow: rgba(76, 80, 158, 0.51) 5px 5px 20px;

}

/* inscrições*/
.invisivel {
    display: none;

}

.visivel {
    display: inherit;

}

.principal2 {
    margin-top: 15%;
    padding: 20px;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-bottom: -43%;
}

form legend {
    font-family: ProFontWindows;
    color: white;
    font-size: 20px;
    margin-bottom: 20px;
}

form div:not(.container) {
    margin-bottom: 20px;
    color: white;
    font-family: ProFontWindows;
}

form input {
    color: white;
    background-color: transparent;
    border: none;
    border-bottom: solid 2px white;
    width: 100%;
}

form input[type=submit], input[type=radio], input[type=checkbox] {
    width: inherit;
}

.ecra_principal {

}

::placeholder {
    color: rgba(255, 255, 255, 0.50);
    /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgba(255, 255, 255, 0.50);
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: rgba(255, 255, 255, 0.50);
}

input[ type= checkbox], input[type=radio] {
    opacity: 0;
}

.checkbox, .radio {
    position: absolute;
    margin-top: -15px;
    margin-left: 8px;
    z-index: 1;
    height: 10px;
    width: 10px;
    pointer-events: none;
    background-color: white;
}

.radio {
    border-radius: 50%;
}

.container input[type=checkbox]:checked ~ .checkbox {
    background-color: #4c509e;
}

.container input[type=radio]:checked ~ .radio {
    background-color: #4c509e;
}

.relogio {
    pointer-events: none;
}

svg {
    pointer-events: none;
}

.ecra_telemovel {
    display: none;
}

#esquerda {
    float: left;
    left: 0;
    right: auto;
}

@media only screen and (max-width: 430px) {
    .ecra_principal {
        display: none;

    }

    .ecra_telemovel {
        display: inherit;
    }

    .dsc {
        margin-top: -15vh;
        margin-bottom: 25vh;
    }

    .empresas_participantes {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .empresas_participantes a {
        margin-left: 0;
        margin-bottom: 30px;
    }

    .empresas_participantes a:first-of-type {
        margin-left: 0;
    }

    .empresas_participantes a:nth-of-type(2) {
        margin-left: 0;
    }

    .empresas_participantes a:nth-of-type(3) {
        margin-left: 0;
    }

    .empresas_participantes a:last-of-type {
        margin-bottom: 10px;
    }

    .logo_empresa {
        width: 100%;
        height: auto;
    }
}

@media only screen and (max-width: 830px) {
    html {
        overflow-x: hidden;
    }

    ::-webkit-scrollbar {
        display: none;
    }

    /*menu*/
    .stroke {
        top: -360px;
        background: transparent;
        left: 100%;
        transition: transform 0.5s;
    }

    .transform {
        transform: translateX(-100%);
    }

    .stroke ul {
        margin-top: 75px;
        text-align: right;
        width: 15%;
        float: right;
        clear: both;

    }

    .relogio {
        display: none;
    }

    .stroke ul li {
        float: right;
        padding: 0 5px;
        margin: 2px 0;
        background: var(--branco);

    }

    .bar {
        display: block;
        height: 5px;
        margin: 5px auto;
        width: 30px;
        background: var(--branco);
    }

    .icon {
        display: inherit;
        float: right;
        position: fixed;
        top: 0;
        z-index: 7;
        padding: 20px;
        right: 0;
        width: auto;
        margin: 0 auto;
        height: auto;
        text-align: center;

    }

    .icon div {

        -webkit-transition: all .7s ease;
        -moz-transition: all .7s ease;
        -ms-transition: all .7s ease;
        -o-transition: all .7s ease;
        transition: all .7s ease;
    }

    .icon {
        -webkit-transition: all .7s ease;
        -moz-transition: all .7s ease;
        -ms-transition: all .7s ease;
        -o-transition: all .7s ease;
        transition: all .7s ease;
    }

    .icon div:nth-child(2) {
        margin: 0 auto;
    }

    .active1 {
        -webkit-transform: translateY(10px) rotateZ(45deg);
        -moz-transform: translateY(10px) rotateZ(45deg);
        -ms-transform: translateY(10px) rotateZ(45deg);
        -o-transform: translateY(10px) rotateZ(45deg);
        transform: translateY(10px) rotateZ(45deg);
    }

    .active3 {
        -webkit-transform: translateY(-10px) rotateZ(-45deg);
        -moz-transform: translateY(-10px) rotateZ(-45deg);
        -ms-transform: translateY(-10px) rotateZ(-45deg);
        -o-transform: translateY(-10px) rotateZ(-45deg);
        transform: translateY(-10px) rotateZ(-45deg);
    }

    .active2 {
        width: 0;
    }


    .stroke ul li:not(#logo) a {
        color: var(--azul);
    }

    .stroke ul li:first-child {
        display: none;

    }

    .info p:not(#relogio) {
        width: 100%;
    }

    /*edições

     */
    .edicoes div {
        background: none;
        display: inline-block;

        width: 95%;
        margin: auto;

        text-align: center;


    }

    .edicoes1 div {
        display: none;


    }

    /*index*/
    #texto {
        width: 100%;
        display: none;
    }

    #outrelogio svg {
        width: 100%;
        display: none;
    }

    .quarto {
        width: calc((100% / 2) - 5px);
        display: inline-block;
    }

    .pequeno {
        width: 100%;
        margin-top: 0;

    }

    .pequeno img {
        width: 50%;
        height: 50%;

    }

    .tit_grande {
        font-size: 8vw;
    }

    .tit_grande2 {

        font-size: 4vw;
    }

    .titulos {
        margin-top: 5vh;
        margin-bottom: 5vh;
    }

    .margin-top {
        margin-top: 10vh;
    }

    .info {
        margin-top: 0;
        padding: 0;
    }


    #logo_myd {
        width: 100vw;
        height: auto;
        margin: 100px auto 100px auto;
        text-align: center;
    }

    .orador {
        flex-direction: column-reverse;
        align-items: center;
    }

    .orador:nth-of-type(1), .orador:nth-of-type(3), .orador:nth-of-type(5), .orador:nth-of-type(7), .orador:nth-of-type(9) {
        flex-direction: column-reverse;
    }

    .orador_info p {
        font-size: 3vw;
    }

    .orador_subtitulo {
        font-size: 7.5vw;
    }

    .orador_nome_palestra_workshop {
        font-size: 5vw;
    }

    .orador > div {
        width: 100%;
    }

    .orador > div:last-child {
        width: 100%;
        flex-direction: row-reverse;
    }

    .orador:nth-of-type(1) > div:last-child > div, .orador:nth-of-type(3) > div:last-child > div, .orador:nth-of-type(5) > div:last-child > div, .orador:nth-of-type(7) > div:last-child > div, .orador:nth-of-type(9) > div:last-child > div {
        left: 59%;
        width: 55%;
    }

    .orador:nth-of-type(2) > div:last-child > div, .orador:nth-of-type(4) > div:last-child > div, .orador:nth-of-type(6) > div:last-child > div, .orador:nth-of-type(8) > div:last-child > div {
        right: -14.75%;
        width: 55%;
    }

    .foto_orador {
        width: 60%;
    }

    .nome_debate {
        font-size: 6vw;
    }

    #planeamento img {
        width: 100%;
    }

    #planeamento img:last-of-type {
        margin-left: 0;
        margin-top: 30px;
    }

    .preco {
        width: 100%;
    }

    #precos .preco:last-of-type {
        margin-left: 0;
        margin-top: 30px;
    }

    .empresas_participantes a {
        width: 30%;
        margin-left: 4vw;
    }

    .empresas_participantes a:first-of-type {
        margin-left: 0;
    }

    .empresas_participantes a:nth-of-type(2) {
        margin-left: 0;
    }

    .empresas_participantes a:nth-of-type(4) {
        margin-left: 2vw;
    }

    #\ inscricoes h1:first-of-type {
        margin-top: 20vw;
        margin-bottom: 20vw;
        font-family: 'Roboto', sans-serif;
        font-size: 10vw;
    }
}
